<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Serve subdir">
                    <match url=".*" />
                    <action type="Rewrite" url="wwwroot/{R:0}" />
                </rule>
                <rule name="SPA fallback routing" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="wwwroot/index.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".wasm" />
            <remove fileExtension=".dll" />
            <remove fileExtension=".json" />
            <remove fileExtension=".js" />
            <remove fileExtension=".dat" />
            <remove fileExtension=".blat" />
            <remove fileExtension=".gz" />
            <remove fileExtension=".br" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
            <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".gz" mimeType="application/gzip" />
            <mimeMap fileExtension=".br" mimeType="application/brotli" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <!-- Removing the X-Content-Type-Options header that's causing MIME type issues -->
                <!-- <add name="X-Content-Type-Options" value="nosniff" /> -->
                <add name="X-XSS-Protection" value="1; mode=block"/>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-eval'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self' https://*.azurestaticapps.net; worker-src 'self' blob:; frame-ancestors 'self'" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <!-- Add handler for Blazor WebAssembly JavaScript file -->
            <add name="BlazorJavaScriptFileHandler" path="_framework/blazor.webassembly.js" verb="GET" type="" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
